/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

body{
    background: radial-gradient(  rgb(136, 226, 254), #3d6ef3) no-repeat;
    height: 100vh;
	width: 100%;
}

header{
    display: flex;
    justify-content: center;
}

header h2{
	margin-top: 50px;
    color: azure;
    font-size: 40px;
}
#menu_clima{
	margin-top: 100px;
}

#menu_clima ul {
	display: flex;
	justify-content: center;
	gap: 30px;
}

#menu_clima button{
	background-color:rgb(73, 107, 202);
	border: none;
    border-radius: 8px;
	width: 190px;
	color: azure;
	
}

#clima{
	display: flex;
	justify-content: center;
	margin-top: 100px;
	color: azure;
    font-size: 40px;

}
#clima div{
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

#clima img{
	width: 100px;

}

.fecha{
	font-size: 20px;
}

#datos{
	display: flex;
	flex-direction: column;
	margin-top: 100px;
}

#datos p {
	display: flex;
	justify-content: center;
	color: azure;
	font-size: 30px;
}

@media (max-width: 667px) {
	#menu_clima ul {
		display: grid;
		grid-template-columns: 1fr 1fr ;
		margin-left: 20px;
		gap: 20px;
	}

	#clima{
		display: flex;
		justify-content: center;
		margin-top: 50px;
		color: azure;
		font-size: 40px;
	
	}

	#datos{
		display: flex;
		flex-direction: column;
		margin-top: 50px;
	}
	
	#datos p {
		display: flex;
		justify-content: center;
		color: azure;
		font-size: 30px;
	}
}